Multiple Sections/Support/Automate ITSM ticket classification and resolution using Gemini, Qdrant and ServiceNow.json
{
  "name": "Automate ITSM ticket classification and resolution using Gemini, Qdrant and ServiceNow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are agent search {{ $json.chatInput }} query in the  in the Knowledge base \"FAQBase\" and give the response from that Qdrant Base  other wise tell no answer found. ",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "850abce9-599a-413c-a436-60a008c0b5c9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1040,
        448
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba465b14-47c5-4f6a-9f75-8c55bae9fdac",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        848,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9b779910-299b-4400-9146-f7b6201b1b6f",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1040,
        736
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "43ca808f-9c37-423d-8c4d-92abee33e3ea",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "3b6ac424-9648-4c8e-9c7d-da1c6a2dfc01",
      "typeVersion": 1.3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Incident ",
              "description": "Something is broken or not working (e.g., system down, hardware failure) "
            },
            {
              "category": "Request",
              "description": " Asking for something new installation (e.g., software installation, access request)."
            },
            {
              "category": "Other",
              "description": " Anything that doesn't fit the above (e.g., general queries, spam)."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": true
        }
      },
      "id": "89e2f425-c478-4c07-9921-7f70b5e9c952",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        640,
        224
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fcf2c082-6764-4ef4-aecc-f6bc90c154c0",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        560,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "resource": "incident",
        "operation": "create",
        "short_description": "={{ $('When chat message received').item.json.chatInput }}",
        "additionalFields": {}
      },
      "id": "002f60a9-f241-45a8-8be5-f02ed7db3475",
      "name": "Create an incident",
      "type": "n8n-nodes-base.serviceNow",
      "position": [
        1168,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d8d72820-7352-4db7-bde0-7f34829dd0a2",
      "name": "Google Gemini Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1440,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use this tool to get the actual information{{ $json.chatInput }} from the Qdrant  Collection",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "FAQBase",
          "cachedResultName": "FAQBase"
        },
        "options": {}
      },
      "id": "c62d043f-e4fd-4bd9-b3bc-352cfe187e0b",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1216,
        752
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e969e-a61f-491b-a476-523eadf250b2",
              "name": "sample_kb",
              "type": "string",
              "value": "Question: How to raise a ticket in an ITSM tool?\nAnswer: Go to the ITSM portal → Click on \"Create New Ticket\" → Fill in the required details (issue type, description, priority) → Submit the ticket.\n\nQuestion: How to check the status of a ticket?\nAnswer: Log in to the ITSM tool → Go to \"My Tickets\" or \"Ticket History\" → Check the current status (Open, In  Progress, Resolved, Closed).\n\nQuestion: How to install software using ITSM?\nAnswer: Raise a \"Service Request\" ticket → Select \"Software Installation\" → Mention the software name and version → Submit → Wait for approval and installation by IT team.\n\nQuestion: How to reset your password?\nAnswer: Go to the ITSM portal → Click on \"Password Reset\" under Service Requests → Fill in your user ID → Submit → Follow the instructions sent via email."
            }
          ]
        },
        "options": {}
      },
      "id": "f503164a-6a5e-4f8e-ab13-b2d9291cdbc0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1968,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "FAQBase",
          "cachedResultName": "FAQBase"
        },
        "options": {}
      },
      "id": "081de542-a82b-4644-a6f3-354a308d6994",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        2176,
        592
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "8e968996-0d89-484e-8566-0091c67ab3c0",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        2096,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "68801987-ab93-48da-892f-abec5ed16fc4",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1792,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d61ab112-60d9-4fb2-a6c2-19ce0b54a84a",
      "name": "Embeddings Google Gemini1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        1264,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d54ec99-6148-491f-8c78-c6f8b797c135",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2368,
        864
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fda35534-f519-4ef1-b320-191c0879d3bc",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1440,
        -64
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "python.com",
        "options": {}
      },
      "id": "4ce5cc1b-eafe-4fa8-8b0d-449bdc16ceed",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "Node Name: Qdrant Vector Store\nType: @n8n/n8n-nodes-langchain.vectorStoreQdrant\nPurpose: Retrieves relevant information from a vector database (Qdrant) based on semantic similarity to the user's input.\nKey Parameters:\nMode: retrieve-as-tool\nTool Description:\n=Use this tool to get the actual information{{ $json.chatInput }} from the Qdrant Collection\nCollection: FAQBase\nCredential Used: QdrantApi account\n\n Use Case:\nThis node is used to fetch contextually relevant answers from a pre-embedded FAQ knowledge base stored in Qdrant. It enhances the workflow by providing accurate, vector-based retrieval for user queries."
      },
      "id": "03943db4-18b1-4fd8-915e-49b8b77d1d66",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Node Name: Qdrant Vector Store1\nType: @n8n/n8n-nodes-langchain.vectorStoreQdrant\nPurpose: Retrieves semantically similar information from the Qdrant vector database using embeddings.\nKey Parameters:\nMode: Default (not explicitly set, assumed retrieval)\nCollection: Uses the same Qdrant collection as other vector store nodes\nCredential Used: QdrantApi account\n Use Case:\nUsed to fetch relevant knowledge base entries or FAQs based on user input, leveraging vector similarity for intelligent matching."
      },
      "id": "466ca2f3-9c5f-43d2-994c-fccf2279b67a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Node Name: Google Gemini Chat Model2\nType: @n8n/n8n-nodes-langchain.lmChatGoogleGemini\nPurpose: Generates enriched responses or follow-up actions after classification or retrieval.\n Key Parameters:\nModel: Gemini (PaLM)\nCredential Used: Google Gemini(PaLM) Api account\nPosition in Workflow: Typically used after classification or after Qdrant retrieval\n Use Case:\nThis node helps generate intelligent responses based on the classified input or retrieved FAQ data, enhancing the user experience with contextual replies."
      },
      "id": "78002e8e-2210-4856-a7d9-c35bf884c0f8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Node Name: Create an incident\nType: n8n-nodes-base.serviceNow\nPurpose: Automatically creates a new incident in ServiceNow when the classified category is Incident.\n Key Parameters:\nAuthentication: Basic Auth\nResource: incident\nOperation: create\nShort Description: Create Incident based on the input from the user\nUse Case:\nTriggered when the Text Classifier identifies the input as an Incident, this node logs the issue directly into ServiceNow for ITSM tracking and resolution."
      },
      "id": "736beef6-f3d1-4afa-9134-8c22b07381f1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Node Name: Text Classifier\nPurpose: Automatically classifies incoming user chat input into one of three predefined categories to route the workflow accordingly.\n Categories Defined:\nIncident\nDescription: Something is broken or not working (e.g., system down, hardware failure)\nRequest\nDescription: Asking for something new (e.g., software installation, access request)\nOther\nDescription: Anything that doesn't fit the above (e.g., general queries, spam)\n\nKey Parameters:\nInput Text:\n User will ask his query in the input\nOutput:\nReturns a clean JSON object with the classified category, which can be used to trigger conditional logic or route to ServiceNow, Gemini, or Qdrant nodes.",
        "width": 256
      },
      "id": "73f86ac8-7297-4480-acdd-cda13629c85f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Node Name: AI Agent\nType: @n8n/n8n-nodes-langchain.lmChatGoogleGemini\nPurpose: Acts as a conversational agent powered by Google Gemini (PaLM), capable of understanding user input, generating intelligent responses, and interacting with other workflow components.\nCore Capabilities:\nUses Gemini LLM to interpret natural language queries.\nCan respond, route, or trigger actions based on user intent.\nIntegrates with classification, retrieval (Qdrant), and incident/request handling nodes.\n Key Parameters:\nModel: Gemini (PaLM)\nCredential Used: Google Gemini(PaLM) Api account\nInput: Typically receives chatInput or processed text from classifier or retrieval nodes.\n Use Case:\nThis node serves as the central intelligence of your workflow, enabling dynamic decision-making and contextual automation. It can:\nAnswer FAQs using retrieved data\nTrigger ServiceNow incidents or requests\nProvide enriched responses using LLM capabilities"
      },
      "id": "963a1038-3cc7-4c89-a00c-8d310a51d378",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## تم التحضير بواسطة \n**م. أحمد الصيرفي**  \n\nللتعلّم وتطوير مهاراتك في الأتمتة، زور موقعنا: \n [ahmedelserafy.com](https://ahmedelserafy.com/automation_course)\n\n\n",
        "height": 176,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        64
      ],
      "typeVersion": 1,
      "id": "f6199305-42ad-44b0-bc7e-178778914b29",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Create an incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an incident": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d920f089-af9f-40b5-8104-b081bccc20d1",
  "meta": {
    "templateId": "10241",
    "instanceId": "eb58054caf61c2552d4b13cc032edccc043473990c2938118b79640890b4e573"
  },
  "id": "dcvBTbVAlD8MqPgv",
  "tags": [
    {
      "updatedAt": "2025-11-28T22:29:34.032Z",
      "createdAt": "2025-11-28T22:29:34.032Z",
      "id": "HHSMeirOYyTwabhZ",
      "name": "pack"
    }
  ]
}