Multiple Sections/Content Creation/Create YouTube videos with OpenAI scripts, ElevenLabs voice, Pixabay and Shotstack.json
{
  "name": "Create YouTube videos with OpenAI scripts, ElevenLabs voice, Pixabay and Shotstack",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://pixabay.com/api/videos/",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=API_Key"
            },
            {
              "name": "q",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.numberOfClips }}"
            },
            {
              "name": "video_type",
              "value": "all"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e0df8071-816b-4710-a2f7-37ce251b993d",
      "name": "Search Pixabay Videos",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1056,
        336
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "name": "=voiceover_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "id": "3cbcab1c-bd0a-4948-b489-cbb0e30fb883",
      "name": "Upload Voiceover to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1120,
        752
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScnKzovWSpm2FEFf",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "12d930fb-b4fe-4dca-9d8c-b1c9139d0abf",
      "name": "Make Voiceover Public",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1584,
        768
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScnKzovWSpm2FEFf",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "productivity business workflow"
            },
            {
              "name": "videoDuration",
              "value": "300"
            },
            {
              "name": "numberOfClips",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "0647ab34-57fb-4c85-9793-221e2d288acd",
      "name": "Set Video Parameters1",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Extract video URLs from Pixabay response\nconst videos = $input.item.json.hits;\nconst clips = [];\n\nif (!videos || videos.length === 0) {\n  throw new Error('No videos found for this search term');\n}\n\nfor (let i = 0; i < videos.length; i++) {\n  const video = videos[i];\n  \n  // Get the largest available video (usually 'large' or 'medium')\n  const videoUrl = video.videos?.large?.url || video.videos?.medium?.url || video.videos?.small?.url;\n  \n  if (videoUrl) {\n    clips.push({\n      url: videoUrl,\n      duration: video.duration || 15, // Default to 15 seconds if not provided\n      id: video.id,\n      width: video.videos?.large?.width || 1920,\n      height: video.videos?.large?.height || 1080\n    });\n  }\n}\n\nif (clips.length === 0) {\n  throw new Error('No valid video URLs found');\n}\n\nreturn clips.map(clip => ({ json: clip }));"
      },
      "id": "a8e6a227-25c2-44d2-b82e-a2975389981d",
      "name": "Extract Video URLs1",
      "type": "n8n-nodes-base.code",
      "position": [
        1312,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get video clips from input\nconst clips = $input.all().map(item => item.json);\n\n// Get the voiceover file ID from Google Drive (Download file node)\nconst driveFileId = $('Upload Voiceover to Drive').first().json.id;\n\n// Build the direct download URL for the voiceover\nconst voiceoverUrl = `https://drive.google.com/uc?export=download&id=${driveFileId}`;\n\n// Define different transitions for variety\nconst transitions = [\n  \"fade\",\n  \"wipeRight\",\n  \"slideLeft\",\n  \"slideUp\",\n  \"carouselLeft\",\n  \"zoom\",\n  \"shuffleTopRight\",\n  \"wipeLeft\",\n  \"slideDown\",\n  \"carouselRight\"\n];\n\n// Calculate clip durations with overlap for smooth transitions\nconst totalDuration = 300; // 5 minutes\nconst transitionDuration = 0.8; // 0.8 second overlap for smooth effect\nconst clipDuration = (totalDuration + (transitionDuration * (clips.length - 1))) / clips.length;\n\n// Build Shotstack timeline\nconst timeline = {\n  soundtrack: {\n    src: voiceoverUrl,\n    effect: \"fadeInFadeOut\",\n    volume: 1.0\n  },\n  tracks: [\n    {\n      clips: clips.map((clip, index) => ({\n        asset: {\n          type: \"video\",\n          src: clip.url\n        },\n        start: (index * clipDuration) - (index * transitionDuration),\n        length: clipDuration,\n        fit: \"crop\",\n        scale: 1,\n        transition: {\n          in: transitions[index % transitions.length], // Different transition for each clip\n          out: transitions[index % transitions.length]\n        }\n      }))\n    }\n  ]\n};\n\nconst render = {\n  timeline: timeline,\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    fps: 25,\n    quality: \"high\"\n  }\n};\n\nreturn [{ json: render }];"
      },
      "id": "4e1a1d7e-32c5-4dce-9326-e428bbc28726",
      "name": "Build Shotstack JSON1",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        1136
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8f667238-4772-49da-b87a-cfe1268bc67c",
      "name": "Submit Render Job1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        1136
      ],
      "typeVersion": 4.1,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SzJvaJkEsYnd79U0",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "b621ddd3-bb77-4bfe-b971-90a8b9fc5235",
      "name": "Wait for Render1",
      "type": "n8n-nodes-base.wait",
      "position": [
        944,
        1136
      ],
      "webhookId": "681196ad-5015-4f81-8f2a-ff9d8f3684f4",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/v1/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "dcee4f08-8fa0-40a0-b322-705e2e7dc486",
      "name": "Check Render Status1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        1136
      ],
      "typeVersion": 4.1,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SzJvaJkEsYnd79U0",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "id": "e0661ddf-4fd3-4557-93c2-10164f0dba9b",
      "name": "Is Render Complete?1",
      "type": "n8n-nodes-base.if",
      "position": [
        1392,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c2a7b00a-e04d-4fa5-acd6-fb990d26a2d1",
      "name": "Download Final Video1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        1120
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "name": "=final_video_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1ymC_Lf5Zi7wf3EsMIEV687PMclAnDlkV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ymC_Lf5Zi7wf3EsMIEV687PMclAnDlkV",
          "cachedResultName": "Archive"
        },
        "options": {}
      },
      "id": "8f380822-c062-4a5f-89b8-cbae36fdd363",
      "name": "Save to Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1792,
        1120
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScnKzovWSpm2FEFf",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/kPzsL2i3teMYv0FxEYQ6",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "voice_settings.stability",
              "value": "0.5"
            },
            {
              "name": "voice_settings.similarity_boost",
              "value": "0.75"
            },
            {
              "name": "voice_settings.style",
              "value": "0.0"
            },
            {
              "name": "voice_settings.use_speaker_boost",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "80aadbba-398a-4efb-8442-3cd3b85e1251",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        752
      ],
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SzJvaJkEsYnd79U0",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "Write a 5-minute long YouTube script that explains the real value of automation in everyday life and business. The output must be written exactly as spoken words, in a natural conversational tone. Do not include titles, headings, timestamps, bullet points, or instructions. Do not mention tools, brands, or technical jargon unless necessary. Focus on practical insights, relatable examples, and mindset shifts rather than technical steps. Explain how automation saves time, reduces mental load, improves consistency, and creates leverage. Use simple examples from daily routines and small business workflows. Speak as a calm, confident automation expert educating a general audience. End with a soft reflective closing that encourages viewers to rethink how they spend their time. Output only the spoken script, nothing else."
            }
          ]
        },
        "simplifyOutput": false,
        "options": {},
        "requestOptions": {}
      },
      "id": "15d24fcc-af7d-4063-8432-f6c8540b5957",
      "name": "Generate Script2",
      "type": "n8n-nodes-base.openAi",
      "position": [
        656,
        752
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "jIKSX4ykZYfLnMu1",
          "name": "OpenAi account 2030"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "918f977f-08e7-4a69-96f4-429b251ef2af",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1648,
        352
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b62b71e-b0e1-4bd7-b2f6-6f9d9257ec99",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1344,
        752
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## 1. Choose video clips",
        "height": 368,
        "width": 1600,
        "color": 7
      },
      "id": "e1af0446-15fa-446b-9260-a1b894446916",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Automated YouTube Video Creator with AI Voiceover, Pixabay Videos to Drive\n\n## How it works\n- **Schedule Trigger** node to run the workflow\n- **Set** node is to set video parameters\n- The **HTTP request** nodes are for the API calls to [Pixabay](https://pixabay.com/) for videos, [Elevenlabs](https://elevenlabs.io/) for voiceover and [Shotstack](https://dashboard.shotstack.io/keys) for rendering. Also have one to download the video \n- **Code** nodes are used to extract video and for video configuration. \n- **Merge** voiceover and video section\n- **OpenAI** node to generate voice script and send to [Elevenlabs](https://elevenlabs.io/)\n- **Google Drive** nodes are to store the voice and video for access\n- **Loop over items** is used to loop with Google Drive to make the voiceover public\n- The **Wait** node is for delay\n- **If** node to check if render is complete\n\n## Setup\n1. Get [Pixabay](https://pixabay.com/api/docs/) API\n2. Get [Elevenlabs](https://elevenlabs.io/app/speech-synthesis/speech-to-speech) API and set in Header Auth\n3. Get [Shotstack](https://dashboard.shotstack.io/keys) API\n4. Get [OpenAI](https://platform.openai.com/settings/) Key and set in credentials\n5. Go to [Google Cloud](https://console.cloud.google.com/) and enable the Google Drive API. Then set credentials\n6. Set prompt in the OpenAI node (see example in node)\n7. Set video topic (see example in the set node) ",
        "height": 672,
        "width": 624
      },
      "id": "37635102-4ec4-470c-a8e4-64af1c8eeffa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Create video and store in Google Drive",
        "height": 368,
        "width": 1600,
        "color": 7
      },
      "id": "315383f4-ceaa-40f8-bd9e-87a51ee166e0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Generate voiceover ",
        "height": 384,
        "width": 1600,
        "color": 7
      },
      "id": "03d47cf3-956e-425a-bab9-c83b738b66b5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        480,
        336
      ],
      "id": "69d0fcb6-1603-456d-94c6-7508983d92a6",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "## تم التحضير بواسطة \n**م. أحمد الصيرفي**  \n\nللتعلّم وتطوير مهاراتك في الأتمتة، زور موقعنا: \n [ahmedelserafy.com](https://ahmedelserafy.com/automation_course)\n\n\n",
        "width": 1584,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        48
      ],
      "typeVersion": 1,
      "id": "1f3b7f19-c97a-4e37-98ef-a8658b141f9b",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Build Shotstack JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload Voiceover to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Make Voiceover Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Render1": {
      "main": [
        [
          {
            "node": "Check Render Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Render Job1": {
      "main": [
        [
          {
            "node": "Wait for Render1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video URLs1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status1": {
      "main": [
        [
          {
            "node": "Is Render Complete?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Render Complete?1": {
      "main": [
        [
          {
            "node": "Download Final Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Render1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shotstack JSON1": {
      "main": [
        [
          {
            "node": "Submit Render Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video1": {
      "main": [
        [
          {
            "node": "Save to Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Voiceover Public": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Pixabay Videos": {
      "main": [
        [
          {
            "node": "Extract Video URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Parameters1": {
      "main": [
        [
          {
            "node": "Search Pixabay Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Voiceover to Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Generate Script2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Video Parameters1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30912e96-2829-4d40-adf4-91d198319292",
  "meta": {
    "templateId": "12392",
    "templateCredsSetupCompleted": true,
    "instanceId": "eb58054caf61c2552d4b13cc032edccc043473990c2938118b79640890b4e573"
  },
  "id": "CpopCPMCyeWHQSAM",
  "tags": [
    {
      "updatedAt": "2025-11-28T22:29:34.032Z",
      "createdAt": "2025-11-28T22:29:34.032Z",
      "id": "HHSMeirOYyTwabhZ",
      "name": "pack"
    }
  ]
}