Multiple Sections/Content Creation/Create High Quality UGC Images with Nano Banana (Cheaper & Faster).json
{
  "name": "Create High Quality UGC Images with Nano Banana (Cheaper & Faster)",
  "nodes": [
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "id": "39d066ac-3552-43de-b589-148ee2ace772",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "position": [
        832,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/gemini-25-flash-image/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $('Setup').first().json.FalAPIKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image_urls\": [\n\"https://drive.google.com/uc?export=view&id={{ $('Google Drive Trigger').first().json.id }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\",\n  \"sync_mode\": false\n} ",
        "options": {}
      },
      "id": "9a50b830-2cfa-4f09-bd85-ec5b78c23169",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        976
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "https://drive.google.com/drive/folders/",
          "cachedResultName": "UGC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "9c6c7bfa-1bd4-4c9a-8d4a-c28976e910ef",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        432,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a7205249-f86e-44b5-b28d-b36f7f736ecb",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1376,
        832
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $('Google Drive Trigger').first().json.name.match(/^[^.]+/)[0].concat($('Loop Over Items').item.json.prompt_number) }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "https://drive.google.com/drive/folders/",
          "cachedResultName": "UGC"
        },
        "options": {}
      },
      "id": "7d120873-4c26-4abc-9fab-32edf0e39ca5",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1888,
        976
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n      \"ugc_prompts\": [\n        {\n          \"prompt_number\": \"integer\",\n          \"prompt\": \"string\"\n        }\n      ]\n}\n"
      },
      "id": "00f56df6-0334-4418-9e9a-1f47b2aa2d4f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1008,
        1040
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "0ec10261-e2b0-404d-a79f-bde8c1172ca1",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1584,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "id": "371e3dab-1920-4329-8308-050edab5175f",
      "name": "Retrieve Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1696,
        976
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "",
              "name": "FalAPIKey",
              "type": "string",
              "value": "[YOUR_API_KEY]"
            }
          ]
        },
        "options": {}
      },
      "id": "65c5a0d7-d8db-453f-8627-8d6658c23d79",
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        832
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert content creator specializing in UGC (User-Generated Content) style marketing images. ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=The product the Promote is a {{ $('Google Drive Trigger').item.json.name.match(/^[^.]+/)[0] }}\n\nYour task is to generate 50 creative, diverse, and realistic situations prompts for an image-to-image generation model. Each prompt should describe a different situation or scenario where the product is being used. \n\nRequirements for each prompt:\n1. Specify the environment or setting (e.g., home, office, kitchen).  \n2. Include a human or realistic context interacting with the product (e.g., holding it, using it, displaying it).  \n3. Highlight at least one functionality or feature of the product in the scene.  \n4. Keep the prompts concise (1–2 sentences), vivid, and visually descriptive.  \n5. Maintain diversity: do not repeat the same type of scene. Include different times of day, moods, activities, or locations.\n\nOutput format (JSON array):\n{\n      \"ugc_prompts\": [\n              {\"prompt\": \"First prompt here...\"},\n              {\"prompt\": \"Second prompt here...\"},\n              ...\n              {\"prompt\": \"Fiftieth prompt here...\"}\n                      ]\n}\n\nExample input:  \nProduct: \"Smart Water Bottle\"  \n\nExample output:\n{\n      \"ugc_prompts\": [\n                {\"prompt\": \"A young woman jogging in a park, drinking from the Smart Water Bottle, enjoying cold water on a sunny morning.\"},\n                {\"prompt\": \"A man sitting at his office desk, checking water intake on his Smart Water Bottle synced with his phone.\"},\n                {\"prompt\": \"A family hiking on a trail, each carrying a Smart Water Bottle to stay hydrated.\"},...\n                     ]\n}\n\nDON'T RETURN ANYTHING ELSE THAN THE JSON!"
            }
          ]
        },
        "batching": {}
      },
      "id": "00d0c6dd-f815-4418-a956-369ce40eb2c8",
      "name": "Generate Prompts",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        848,
        832
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ugc_prompts",
        "options": {}
      },
      "id": "cd43d805-9e89-44fb-a178-cbac8a831782",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1168,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How to set up?\n### 1. Accounts & APIs\nIn the **Edit Field \"Setup\" Node** replace all **[YOUR_API_TOKEN]** with your API Token :\n- Fal.ai (gemini-25-flash-image/edit): https://fal.ai/models/fal-ai/gemini-25-flash-image/edit/api\n\nIn **Credentials** on your n8n Dashboard, connect the following accounts using **Client ID / Secret**: \n- Google Drive: https://docs.n8n.io/integrations/builtin/credentials/google/\n\n### 2. Requirements\n- Base Image of your Product preferably have a **White Background**\n- Your Google Drive Folder and every Files it contains should be **publicly available**\n\n### 3. Customizations\n- Change the amount of total UGC Generated: In Generate Prompts → Message → \"Your task is to generate 50\"\n- Modify the instructions to generate the UGC Prompts: In Generate Prompts → Message\n- Change the amount of Base Image: In Generate Image → Body Parameters → JSON → image_urls\n- Change the amount of UGC Generated per prompt: In Generate Image → Body Parameters → JSON → num_images\n- Modify the Folder where UGC Generated are stored: In Upload File → Parent Folder",
        "height": 512,
        "width": 700
      },
      "id": "a6be43e9-a2e7-41f1-9a02-374e81b03cb1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How it works?\n**1 -** Trigger: Upload a new Product Image (with white background) to a Folder in your Google Drive\n**2 -** Generate 50 different Image Prompts  for your Product\n**3 -** Loop over each Prompt Generated\n**4 -** Generate UGC Content thanks to Fal.ai (Nano Banana)\n**5 -** Upload UGC Content on the initial Google Drive Folder",
        "height": 512,
        "width": 516
      },
      "id": "77feb6f0-689d-4fd1-b0cb-f1a3964b86fe",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **Prompts Generation**",
        "height": 432,
        "width": 908,
        "color": 7
      },
      "id": "ee29526e-9d6e-4943-bb03-9ca64a75a736",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **UGC Production**\n",
        "height": 432,
        "width": 780,
        "color": 7
      },
      "id": "14e9c720-9006-4c32-ac40-ecfb5dda038c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Who’s it for?\n- Content Creators\n- E-commerce Stores\n- Marketing Team\n\n**Description**: Generate unique UGC images for your products. Simply upload a product image into a Google Drive folder, and the workflow will instantly generate 50 unique, high-quality AI UGC images using **Nano Banana** via Fal.ai. \nAll results are automatically saved back into the same folder, **ready to use** across social media, e-commerce stores, and marketing campaigns.\n\n**Cost: 0.039$ / image**",
        "height": 512,
        "width": 244
      },
      "id": "1cdb37b0-c6f8-4af3-b184-ed12194a7eed",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## تم التحضير بواسطة \n**م. أحمد الصيرفي**  \n\nللتعلّم وتطوير مهاراتك في الأتمتة، زور موقعنا: \n [ahmedelserafy.com](https://ahmedelserafy.com/automation_course)\n\n\n",
        "width": 1472,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        32
      ],
      "typeVersion": 1,
      "id": "92c05b89-9921-4139-81eb-015b7506afe1",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "Generate Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Retrieve Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Prompts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Prompts",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9eb87c9a-9a9c-4db7-94a0-8617bba43477",
  "meta": {
    "templateId": "8644",
    "instanceId": "eb58054caf61c2552d4b13cc032edccc043473990c2938118b79640890b4e573"
  },
  "id": "ji5bV5vSIounPrBg",
  "tags": [
    {
      "updatedAt": "2025-11-28T22:29:34.032Z",
      "createdAt": "2025-11-28T22:29:34.032Z",
      "id": "HHSMeirOYyTwabhZ",
      "name": "pack"
    }
  ]
}