Multiple Sections/Content Creation/Generate UGC Promo Videos with OpenAI, Sora 2 and Blotato for eCommerce.json
{
  "name": "Generate UGC Promo Videos with OpenAI, Sora 2 and Blotato for eCommerce",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "9e45bc31-7369-48b0-8d37-93cf2faa5418",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        448,
        1232
      ],
      "webhookId": "f923f8b2-db4f-4e83-bf4c-f4567278577e",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-4",
              "name": "maxPollingAttempts",
              "type": "number",
              "value": 20
            },
            {
              "id": "id-5",
              "name": "falApiKey",
              "type": "string",
              "value": "YOUR_API_falApiKey"
            },
            {
              "id": "8b717e51-3c27-4787-b358-019f1438ea6c",
              "name": "Model",
              "type": "string",
              "value": "sora-2"
            },
            {
              "id": "c48eceea-cfec-4a6f-a379-127a3af40ad2",
              "name": "aspect_ratio",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "385e9561-7491-4df9-8f92-10b1a70180a8",
              "name": "duration",
              "type": "string",
              "value": "12"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d118bd83-021e-470c-b6e2-f45fdced945b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chatId = $('Extract Photo and text').first().json?.message?.chat?.id;\n\nif (!chatId) {\n  throw new Error('Chat ID not found in workflow data');\n}\n\n// OpenAI node with JSON output returns parsed object directly in message.content\nconst scriptContent = response?.message?.content || response?.content || {};\n\nreturn [{\n  json: {\n    script: JSON.stringify(scriptContent),\n    frames: scriptContent.frames || [],\n    hashtags: scriptContent.hashtags || [],\n    chatId: chatId\n  }\n}];"
      },
      "id": "f6b90f3d-c3a2-4ac4-94ec-dbcad40cc333",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "position": [
        2016,
        1232
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/sora-2/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Key ' + $('Workflow Configuration').first().json.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ JSON.stringify($('Parse Script Response').first().json.script.replaceAll(/\\\\n/g, '')).slice(1, -1) }}\",\n  \"resolution\": \"auto\",\n  \"aspect_ratio\": \"9:16\",\n  \"duration\": {{ $('Workflow Configuration').item.json.duration }},\n  \"image_url\": \"{{ $json.data.url.replace(/^http:\\/\\/tmpfiles\\.org\\/(\\d+)\\/(.*)$/i, 'https://tmpfiles.org/dl/$1/$2') }}\"\n}\n",
        "options": {}
      },
      "id": "5ab4832e-f0f0-48c6-961e-066ef12b23a9",
      "name": "Submit to Sora 2 API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        1536
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chatId = $('Extract Photo and text').first().json?.message?.chat?.id;\n\nif (!response?.request_id) {\n  throw new Error('Request ID not found in API response');\n}\n\nif (!chatId) {\n  throw new Error('Chat ID not found in workflow data');\n}\n\nreturn [{\n  json: {\n    requestId: response.request_id,\n    chatId: chatId,\n    pollingAttempt: 0\n  }\n}];"
      },
      "id": "14948abc-ed10-44d4-92c8-02ccc2c6c207",
      "name": "Extract Video Job ID",
      "type": "n8n-nodes-base.code",
      "position": [
        672,
        1536
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "1522a6fd-be95-4fe2-910f-57e60e19ac64",
      "name": "Wait 15 Seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        896,
        1536
      ],
      "webhookId": "541fabb9-5832-4085-a6a1-67cb764cd9ca",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/sora-2/requests/{{ $json.requestId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Key ' + $('Workflow Configuration').first().json.falApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f83db5c-7a5a-4fc9-9a5a-a1239caa6c57",
      "name": "Check Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        1536
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst previousData = $('Extract Video Job ID').first().json;\n\nif (!previousData) {\n  throw new Error('Previous polling data not found');\n}\n\nreturn [{\n  json: {\n    status: response?.status || 'UNKNOWN',\n    videoUrl: response?.video?.url || null,\n    requestId: previousData.requestId,\n    chatId: previousData.chatId,\n    pollingAttempt: (previousData.pollingAttempt || 0) + 1\n  }\n}];"
      },
      "id": "ad3a9068-d0f2-4982-8093-bf8d4c332409",
      "name": "Parse Status Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        1536
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Parse Status Response').item.json.status }}",
              "rightValue": "COMPLETED"
            },
            {
              "id": "id-2",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Parse Status Response').item.json.status }}",
              "rightValue": "succeeded"
            },
            {
              "id": "id-3",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $('Parse Status Response').item.json.pollingAttempt }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.maxPollingAttempts }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d684fc56-82ab-4c97-b53f-4068526a9f6d",
      "name": "Check If Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        1536
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/sora-2/requests/{{ $json.requestId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Key ' + $('Workflow Configuration').first().json.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "631abf93-a412-4769-9161-941e666fb3bb",
      "name": "Download Video File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2464,
        1520
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "file": "={{ $json.video.url }}",
        "additionalFields": {
          "caption": "=Your UGC video is ready! 🎥  {{ $json.video.url }}"
        }
      },
      "id": "9c4e387d-d47b-44b2-9fd4-2b08cf029a43",
      "name": "Send Video to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        976,
        1984
      ],
      "webhookId": "d9da2536-a395-44dd-b680-5de6163e36cb",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Video generation timed out or failed. Please try again with a different product image or description.",
        "additionalFields": {}
      },
      "id": "2dad18e3-3b7a-47f6-b948-4c327fa60c1d",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2256,
        1552
      ],
      "webhookId": "4df1ee60-06c0-4389-afb0-f6002132b0aa",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analyze this product image and extract: 1) Product name and category, 2) Key features and benefits, 3) Target audience, 4) Visual elements (colors, style, packaging). Promotion objective: {{ $('Extract Photo and text').item.json.promotionText }}",
        "inputType": "base64",
        "options": {}
      },
      "id": "dcfa0e97-1b56-48a4-aacc-bf0f7dfb1257",
      "name": "Analyze Product Image (Vision API)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1440,
        1232
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.photoUrl }}",
        "additionalFields": {}
      },
      "id": "918f735a-2b6a-4515-8c6f-61778196300f",
      "name": "Get Photo File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1216,
        1232
      ],
      "webhookId": "8f993dc8-22f5-4b69-99e4-b16c0f6487ab",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "photoUrl",
              "type": "string",
              "value": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}"
            },
            {
              "id": "id-2",
              "name": "promotionText",
              "type": "string",
              "value": "={{ $json.message.caption || $json.message.text }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9cae8d6a-31a4-462d-8482-93ac5b591125",
      "name": "Extract Photo and text",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a UGC video script writer. Create a 12-second video script with frame-by-frame breakdown, natural dialogue, camera movements, and captions. Format as JSON with fields: frames (array of {timestamp, scene, dialogue, camera, caption}), hashtags (array).",
              "role": "system"
            },
            {
              "content": "={{ 'Product Analysis: ' + $json.content + '\\n\\nPromotion Objective: ' + $('Extract Photo and text').first().json.promotionText + '\\n\\nCreate a compelling 12-second UGC video script.' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.8
        }
      },
      "id": "ea8c58ec-28d1-47ac-b891-5f520a197d47",
      "name": "Generate UGC Script (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1664,
        1232
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tmpfiles.org/api/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "cf8da3a8-e430-42b9-bcbe-d771ff736a85",
      "name": "Build Public Image URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        1072
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "e8db0d52-21e4-47a1-bf83-2b90fadeeddd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2448,
        1216
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "# 📤 STEP 5: PUBLISHING & TRACKING\n\n### Install the Blotato [Blotato](https://blotato.com/?ref=invade) Node in n8n (Community Nodes)\n1. In n8n, open **Settings → Community Nodes**.  \n2. Click **Install**, then add: `@blotato/n8n-nodes-blotato`.  \n3. Log in to **Blotato**.  \n4. Go to **Settings → API Keys**.  \n5. In n8n → **Credentials → New**.  \n6. Choose **Blotato API** \n(provided by the community node you installed).  \n\n2. TikTok Publishing (Blotato):\n   • Pre-configured to auto-publish\n   • Uses caption from GPT-4\n   • Privacy: Public\n   • Requires Blotato API key from Step 2",
        "height": 404,
        "width": 2220,
        "color": 5
      },
      "id": "34552393-86ff-4988-b40a-dae3c0d0d34b",
      "name": "Step 5 - Publishing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "media",
        "mediaUrl": "={{ $('Download Video File').item.json.video.url }}"
      },
      "id": "cb7916cc-10d4-435d-a893-6d6a613811b5",
      "name": "Upload Video to BLOTATO",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1552,
        1984
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "8047",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/8047",
          "cachedResultName": "DR FIRASS (Dr. Firas)"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('Generate UGC Script (OpenAI)').first().json.message.content.hashtags[0] }}",
        "postCreateYoutubeOptionPrivacyStatus": "private",
        "postCreateYoutubeOptionShouldNotifySubscribers": false,
        "options": {}
      },
      "id": "8fa12c0b-cceb-4ef0-80d4-533435d017f1",
      "name": "Youtube",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        2080,
        1984
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "platform": "tiktok",
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "2079",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/2079",
          "cachedResultName": "elitecybzcs"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "id": "c85dd58e-e7c3-49fe-bc5b-56db1931ce02",
      "name": "Tiktok",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1760,
        1824
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "1446",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1446",
          "cachedResultName": "Samuel Amalric"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "id": "7862107b-f886-4d41-8f2e-0523f7a8f2ce",
      "name": "Linkedin",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1920,
        1824
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "1759",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1759",
          "cachedResultName": "Firass Ben"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "mode": "list",
          "value": "101603614680195",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1759/subaccounts/101603614680195",
          "cachedResultName": "Dr. Firas"
        },
        "options": {}
      },
      "id": "6cd5c506-f060-4d32-8425-383ff2b030b7",
      "name": "Facebook",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        2080,
        1824
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "1687",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1687",
          "cachedResultName": "acces.a.vie"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "id": "6560abd1-2f85-492b-bd6c-22b80dff52d1",
      "name": "Instagram",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1760,
        1984
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": "1289",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1289",
          "cachedResultName": "Docteur_Firas"
        },
        "postContentText": "={{ $('Generate Caption with GPT-4').item.json.message.content }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "id": "9d7bce3c-c612-4f2d-aee0-04cd913a95b0",
      "name": "Twitter (X)",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "position": [
        1920,
        1984
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 6
      },
      "id": "7b249aeb-b539-45d2-ba07-c6b41de4f491",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2288,
        1840
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Published",
        "additionalFields": {}
      },
      "id": "4ae0f34b-7d81-426c-9b8f-4a01ad24409a",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2448,
        1904
      ],
      "webhookId": "fe254b6f-f102-4441-96a6-d80efe3c766d",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Create an engaging TikTok caption for a video about: {{ $('Telegram Trigger').first().json.message.caption }}\n\nBased on these trends: {{ $('Generate UGC Script (OpenAI)').first().json.message.content.hashtags[0] }}{{ $('Generate UGC Script (OpenAI)').first().json.message.content.hashtags[1] }}{{ $('Generate UGC Script (OpenAI)').first().json.message.content.hashtags[2] }}\n\nRequirements:\n- Catchy hook in first line\n- Include 5-8 relevant trending hashtags\n- Keep it concise and engaging\n- Optimize for TikTok algorithm\n- Return ONLY the caption text with hashtags, nothing else"
            }
          ]
        },
        "options": {}
      },
      "id": "41eb8c26-670d-4940-9bc9-ba90613e74c2",
      "name": "Generate Caption with GPT-4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1200,
        1984
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "# 📱 STEP 1: TELEGRAM BOT SETUP\n\n\n## Create Your Telegram Bot:\n1. Open Telegram and search for @BotFather\n2. Send /newbot command\n3. Choose a name for your bot (e.g., \"UGC Video Generator\")\n4. Choose a username (must end with 'bot', e.g., \"myugc_video_bot\")\n5. Copy the API token provided\n\n## Configure Telegram Trigger Node:\n1. Click on \"Telegram Trigger\" node\n2. Create new credential\n3. Paste your bot token\n4. Save credential\n\n## Configure Telegram Nodes:\nThe following nodes need the same credential:\n• Get Photo File from Telegram\n• Send Video to Telegram\n• Send Error Message\n\n## Test Your Bot:\n1. Activate this workflow\n2. Find your bot in Telegram\n3. Send /start to begin\n4. Send a product image with caption",
        "height": 820,
        "width": 420,
        "color": 3
      },
      "id": "ac940182-725e-4875-be7a-45f874be7f7b",
      "name": "Step 1 - Telegram Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# ⚙️ STEP 2: API KEYS CONFIGURATION\n\n## Workflow Configuration Node:\nThis node stores all API keys and settings.\n\n### 1. FAL.ai API Key:\n• Go to https://fal.ai/\n• Sign up / Log in\n• Navigate to Dashboard → API Keys\n• Create new API key\n• Copy and paste in 'falApiKey' field\n\n### 2. OpenAI API Key:\n• Already configured with n8n free credits\n• Or use your own: https://platform.openai.com/api-keys\n\n### 3. Video Settings (Pre-configured):\n• maxPollingAttempts: 20 (max wait cycles)\n• Model: sora-2\n• aspect_ratio: 9:16 (vertical video)\n• duration: 12 (seconds)\n\n💡 You can adjust these values based on your needs:\n- Change duration: 5, 10, or 12 seconds\n- Change aspect_ratio: 16:9, 9:16, or 1:1",
        "height": 820,
        "width": 420,
        "color": 6
      },
      "id": "41d17c01-3d6b-4390-a3e0-ddbe5e1e011c",
      "name": "Step 2 - Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🤖 STEP 3: AI ANALYSIS & SCRIPT GENERATION\n\n## How It Works:\n\n### Extract Photo and Text:\n• Extracts the highest quality photo from Telegram\n• Captures your promotion text/caption\n\n### Get Photo File from Telegram:\n• Downloads the actual image file\n• Prepares it for AI analysis\n\n### Build Public Image URL:\n• Uploads image to tmpfiles.org\n• Creates publicly accessible URL\n• Required for Sora 2 API\n\n### Analyze Product Image (Vision API):\n• Uses GPT-4o-mini with vision\n• Analyzes: product features, target audience, visual style\n• Extracts key selling points\n\n### Generate UGC Script (OpenAI):\n• Creates 12-second video script\n• Frame-by-frame breakdown\n• Natural dialogue and camera movements\n• Generates trending hashtags\n• Output: JSON format with frames array\n\n✅ No configuration needed - already set up!",
        "height": 820,
        "width": 420,
        "color": 5
      },
      "id": "334f22f1-d976-4c69-9d08-803a94e395eb",
      "name": "Step 3 - AI Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🎥 STEP 4: VIDEO GENERATION WITH SORA 2\n\n## Process Flow:\n\n### 1. Submit to Sora 2 API:\n• Sends image URL + script to FAL.ai\n• Uses Sora 2 image-to-video model\n• Returns job request_id\n\n### 2. Polling Loop (Wait → Check → Parse):\n• Waits 15 seconds between checks\n• Checks video generation status\n• Continues until complete or timeout\n• Max attempts: 20 (configurable)\n\n### 3. Check If Complete:\nRoutes based on status:\n• ✅ COMPLETED/succeeded → Download video\n• ⏳ IN_PROGRESS → Continue polling\n• ❌ Timeout → Send error message\n\n### 4. Download Video File:\n• Retrieves final video from FAL.ai\n• Prepares for Telegram delivery\n\n### 5. Send Video to Telegram:\n• Delivers video to your chat\n• Includes video URL in caption",
        "height": 820,
        "width": 420,
        "color": 7
      },
      "id": "76c4ca21-2f00-4ecc-ac7b-1fbb05f2b8df",
      "name": "Step 4 - Video Generation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🎬 AUTOMATED UGC VIDEO GENERATOR\n\n\n## 📋 What This Workflow Does:\nTransforms product images into professional UGC marketing videos automatically:\n\n1️⃣ Receives product image + description via Telegram\n2️⃣ AI analyzes product features and target audience\n3️⃣ Generates engaging 12-second video script\n4️⃣ Creates video using Sora 2 AI (image-to-video)\n5️⃣ Delivers final video back to Telegram\n\n",
        "height": 816,
        "width": 480,
        "color": 4
      },
      "id": "3cab5acb-c563-4dd6-bea5-8e379eb184d3",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## تم التحضير بواسطة \n**م. أحمد الصيرفي**  \n\nللتعلّم وتطوير مهاراتك في الأتمتة، زور موقعنا: \n [ahmedelserafy.com](https://ahmedelserafy.com/automation_course)\n\n\n",
        "width": 2144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        32
      ],
      "typeVersion": 1,
      "id": "eab57d92-d850-4340-b2f4-958bf325546f",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Submit to Sora 2 API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiktok": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Twitter (X)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Complete": {
      "main": [
        [
          {
            "node": "Download Video File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File": {
      "main": [
        [
          {
            "node": "Send Video to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video Job ID": {
      "main": [
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Sora 2 API": {
      "main": [
        [
          {
            "node": "Extract Video Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Status Response": {
      "main": [
        [
          {
            "node": "Check If Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Public Image URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Photo and text": {
      "main": [
        [
          {
            "node": "Get Photo File from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video to Telegram": {
      "main": [
        [
          {
            "node": "Generate Caption with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extract Photo and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to BLOTATO": {
      "main": [
        [
          {
            "node": "Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter (X)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption with GPT-4": {
      "main": [
        [
          {
            "node": "Upload Video to BLOTATO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UGC Script (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo File from Telegram": {
      "main": [
        [
          {
            "node": "Analyze Product Image (Vision API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Public Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Product Image (Vision API)": {
      "main": [
        [
          {
            "node": "Generate UGC Script (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d24c8db1-8a0d-48ac-82e4-936ef53fe60f",
  "meta": {
    "templateId": "10514",
    "instanceId": "eb58054caf61c2552d4b13cc032edccc043473990c2938118b79640890b4e573"
  },
  "id": "nOQubfQ2XEJfW7dq",
  "tags": [
    {
      "updatedAt": "2025-11-28T22:29:34.032Z",
      "createdAt": "2025-11-28T22:29:34.032Z",
      "id": "HHSMeirOYyTwabhZ",
      "name": "pack"
    }
  ]
}