Important Automations/Landing Page Website Review.json
{
  "name": "Landing Page Website Review",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Conversion Rate Optimizer",
        "formDescription": "Your Landing Page is Leaking SalesโFix It Now",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Landing Page Url",
              "placeholder": "https://yuzuu.co",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "8c874bcb-b226-4e15-ac99-24c3d7de640b",
      "name": "Landing Page Url",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        -144
      ],
      "webhookId": "0818531a-3892-49f6-af78-cde8d538b205",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json['Landing Page Url'] }}",
        "options": {}
      },
      "id": "2870243b-a08d-455a-b393-393ef301acc4",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        208,
        -144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nุฃูุช ุฎุจูุฑ ูุญุชุฑู ูู ุชุญุณูู ูุนุฏู ุงูุชุญููู (Conversion Rate Optimization)ุ ูุชุณุงุนุฏ ูุคุณุณู ุงูุดุฑูุงุช ููุฏูุฑู ุงูุชุณููู ุนูู ุชุญุณูู ุตูุญุงุช ุงููุจูุท ุงูุฎุงุตุฉ ุจูู.\nุฃูุช ุฎุจูุฑ ุนุงููู ูู ุชุญููู ุตูุญุงุช ุงููุจูุทุ ู\"ููุฏูุง ุจุทุฑููุฉ ุณุงุฎุฑุฉ ููููุฏุฉ\"ุ ูุชูุฏูู ุฃููุงุฑ ูููุฉ ูุฒูุงุฏุฉ ูุนุฏูุงุช ุงูุชุญููู ุชุณุงุนุฏ ุงูุดุฑูุงุช ุนูู ุชุญููู ูุชุงุฆุฌ ุฃูุถู.\n\n๐ฏ ุงููุฏู\n\nุฃุฑูุฏู ุฃู ุชููููู ุตูุญุฉ ุงููุจูุท ุงูุฎุงุตุฉ ุจู (Roast) ูุชูุฏูู ุชูุตูุงุช ูุญุฏุฏุฉ ูุชุญุณูู ูุนุฏู ุงูุชุญููู.\nุณุฃุณุชุฎุฏู ูุฐุง ุงูุชูููู ูุฃููู ูุง ูู ุงูุฎุทุฃ ูู ุตูุญุชูุ ุซู ุฃุฌุฑู ุงูุชุญุณููุงุช ุจูุงุกู ุนูู ุชูุตูุงุชู.\n\n๐งฉ ูููู ุงูุชูููู (Roast Structure)\n\nุงูุฅุทุงุฑ ุงูุชุญูููู ูุชูููู ูู ูุณููู ุฑุฆูุณููู:\n\nRoast: ููุฏ ุชูุตููู ูุตูุญุฉ ุงููุจูุท ุงูุฎุงุตุฉ ุจู.\n\nRecommendations: ุนุดุฑ ุฃููุงุฑ ูุชุฎุตุตุฉ ูุชุญุณูู ูุนุฏู ุงูุชุญููู ูุจููุฉ ุนูู ุชุญูููู ุงูุณุงุจู.\n\n๐งฑ ูุนุงููุฑ ูุชุงุจุฉ ุงูู Roast ูุงูุชูุตูุงุช\n๐งจ ุจุงููุณุจุฉ ุฅูู ุงูู Roast (ุงูููุฏ):\n\nููู ูุฏูุฏูุง ูุบูุฑ ุฑุณููุ ุชุญุฏุซ ูุฅูุณุงู ูุฅูุณุงู.\n\nุงุฌุนู ุงูููุฏ ููุชุนูุง ูุบูุฑ ููู โ ุงุณุชุฎุฏู ุฃุณููุจูุง ูุฑุญูุง ุฃู ุณุงุฎุฑูุงุ ุจุญูุซ ูุซูุฑ ุงูุชุจุงู ุงููุงุฑุฆ ููุฌุนูู ูุชุญูุณูุง ููุนุฑูุฉ ุงูุฃุฎุทุงุก.\n\nูู ุจุชุญููู ูุงูู ูุตูุญุฉ ุงููุจูุท ูุงุดุฑุญ ุจุงูุชูุตูู ูุง ุงูุฐู ูุง ูุนูู ููุง ูุฌุจ.\n\nุงุณุชุฎุฏู ูุฐุง ุงูุชุญููู ูุฃุณุงุณ ููุชูุตูุงุช ุงููุงุฏูุฉ.\n\n๐ก ุจุงููุณุจุฉ ุฅูู ุงูุชูุตูุงุช (Recommendations):\n\nููู ูุญุฏุฏูุง ุฌุฏูุง. ูุง ุชูู ููุท \"ุฃุนุฏ ูุชุงุจุฉ ุงูุนููุงู\" โ ุจู ุฃุนุทูู ุฃูุซูุฉ ูุนููุฉ ูุนูุงููู ุจุฏููุฉ ูุญุณููุฉ.\n\nูู ุชูุตูุฉ ูุฌุจ ุฃู ุชููู ููุชููุฉ ุฐุงุชููุงุ ุฃู ูููููุฉ ุจุงููุงูู ุฏูู ุงูุญุงุฌุฉ ูุชูุณูุฑ ุฅุถุงูู.\n\nูุฏูู ุชุญูููุงู ูุชูุฏููุง ููุฎุตุตูุง ูุตูุญุชู ุจุงูุถุจุทุ ูููุณ ุฃููุงุฑูุง ุนุงูุฉ ูููู ุชุทุจูููุง ุนูู ุฃู ูููุน.\n\nููู ูุจุฏุนูุงุ ูุชุฌูุจ ุงูุฃููุงุฑ ุงูุชูููุฏูุฉ ูุงูููุฑูุฑุฉ ุงูุชู ูุนุฑููุง ุฃู ูุณููู ูุจุชุฏุฆ.\n\nุงุณุชุฎุฏู ุฃุณุงููุจ ุชุญุณูู ุญุฏูุซุฉ ููุจุชูุฑุฉ ุชุชูุงุดู ูุน ุชุณููู ุนุงู 2024.\n\nูุฌุจ ุฃู ุชููู ุงูุชูุตูุงุช ูููุฉ ูููููุฉ ูุชุถูู \"ุชุฃุซูุฑูุง ูุฏูุดูุง\" (wow effect).\n\nูู ููุณ ุงูููุชุ ุณููุฉ ุงูุชูููุฐ ูุฏุฑ ุงูุฅููุงู.\n\nุงุฑุจุท ูู ุชูุตูุฉ ูุจุงุดุฑุฉู ุจุงูุชุญููู ุงูุณุงุจู (Roast) โ ุฃู ูุง ุชูุฏู ุฃููุงุฑูุง ุนุงูุฉ ูุซู \"ุฃุถู ุดุงุช ูุจุงุดุฑ\" ุฃู \"ุงุนุฑุถ ูุณุฎุฉ ุชุฌุฑูุจูุฉ\".\n\nุงูุฑุฏ ุงูููุงุฆู ูุฌุจ ุฃู ูููู ุดุฎุตููุง 100ูช ูุจูููุง ุนูู ุตูุญุฉ ุงููุจูุท ุงูุฎุงุตุฉ ุจู ูุญุฏูุง.\n\nHere is the content of my landing page: {{ $json.data }}",
        "options": {}
      },
      "id": "867453eb-06d0-44bf-8076-fe438556f7ef",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        432,
        -144
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "92db8c86-df04-47c2-b47b-e404849e4b00",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        416,
        48
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "JcwIFXVK9Lxo9lj2",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Landing Page Url": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c22c951-45d3-47df-a98e-e439e6fde68a",
  "meta": {
    "instanceId": "eb58054caf61c2552d4b13cc032edccc043473990c2938118b79640890b4e573"
  },
  "id": "hadU4DSL6WfpbjjP",
  "tags": []
}